.reset-password {
    position: relative;
    .form-wrap {
        .reset {
            h2 {
                margin-bottom: 8px;
            }
            p {
                text-align: center;
                color: #fff;
                margin-bottom: 32px;
            }
        }
    }
}